[user]
    name = Andrew Kurin
    email = prigun@gmail.com 
[branch "master"]
    remote = origin
    merge = refs/heads/master
[github]
    user = zen4ever
[color]
    branch = auto
    diff = auto
    status = auto
    interactive = auto
    ui = true
    pager = true
[alias]
    co = checkout
    st = status -sb
    w = whatchanged
    # add all changed (but not new) files to stage (index)
    au = add -u
    # prune all tracking local branches that have been removed from remote
    prune-all = !git remote | xargs -n 1 git remote prune
    changes = log --oneline --reverse
    info = config --list
    staged = diff --cached
    summary = log --oneline
    tags = tag -n1 -l
	dt = difftool
[core]
    pager = less -FRSX
    whitespace=fix,-indent-with-non-tab,trailing-space,cr-at-eol
	editor = /usr/bin/vi
[diff]
	tool = vimdiff
[diff "localizablestrings"]
    textconv = "iconv -f utf-16 -t utf-8"
[push]
	default = matching
[pull]
	rebase = false
[init]
	defaultBranch = main
